<CaseOf @kind={{this.model}} as |when|>
  <when.err as |error|>
    <input type="hidden" value={{error.message}} />
    Something went wrong
  </when.err>

  <when.ok as |model|>
    <div class="lg:flex lg:items-start">
      <div class="lg:pr-4">
        <img src="{{model.snapshotURL}}" alt="printer" class="block rounded mx-auto" />
      </div>

      <div class="lg:pl-4 lg:mt-0 mt-4">
        <div data-role="printer-state" class="bg-lighter py-3 px-3 rounded drop-shadow">
          <p>{{model.status.state}}</p>
        </div>

        <div data-role="printer-controls" class="w-full flex items-center flex-1 mt-4">
          <button type="button" {{on "click" (fn this.toggleLight true)}} class="flex-1">
            <i class="fas fa-lightbulb" />
          </button>
          <button type="button" {{on "click" (fn this.toggleLight false)}} class="flex-1">
            <i class="far fa-lightbulb" />
          </button>
        </div>
      </div>
    </div>
  </when.ok>
</CaseOf>
