<div class="w-full">
  <div class="w-full mb-2 flex items-center">
    <button type="button" disabled={{this.disabled}} {{on "click" this.submit}}>
      <i class="fa fa-send" />
    </button>
  </div>

  <PatternBuilder
    @ledr={{array 2 13}}
    @state={{this.currentPatternState}}
    @onChange={{action (mut this.currentPatternState)}}
  />
</div>
